footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
}
footer > p {
  margin-left: 70%;
  font-size: 18px;
}

@media (max-width: 414px) {
  footer > p {
    margin-left: 13%;
  }
}
